# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules
.pnpm-store

# Build
dist
dist-ssr
build
coverage

# Ambiente de desarrollo
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Editor de carpetas y archivos
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
Thumbs.db

# Cache de eslint
.eslintcache

# Agentes
.gemini

# Si, la carpeta 'cms' genera archivos temporales o de cache
cms/.cache
cms/build
cms/.tmp

# Si, la carpeta 'server' genera archivos compilados
server/dist
server/build
server/.cache