# Dependencias
node_modules
.pnpm-store

# Build 
dist
dist-ssr
build
coverage

# Ambiente de desarrollo
.env
.env.local
.env.*
.cache

# Archivos generados
pnpm-lock.yaml
package-lock.json
yarn.lock

# Publico
public/

# Especifico de Strapi
.strapi
public/uploads